

# Welcome to Python: Behind the Screen!

Youâ€™ve just seen how websites track your every move online.  
Now itâ€™s time to pull back the curtain and explore the code powering it all.

Today, weâ€™ll dive into some Python fundamentals â€” the building blocks behind apps, algorithms, and even tracking tools.

Hereâ€™s what weâ€™ll cover:

ðŸ”¹ Variables  
ðŸ”¹ Data types  
ðŸ”¹ Print statements & inputs  
ðŸ”¹ Functions

**Feel free to tweak the code, break it, fix it, and experiment â€” thatâ€™s how you really learn.**

---

Note that variables can be called anything (i.e. we could change the variable *favcolour* to *favouritecolor*  too- it is just a name)

The datatype of a variable is dependent on the **type** of data we want to store in it. For example:

> * int - integer : used to store integer numbers only (e.g. 7)
> * float - floating point : used to store decimal numbers (e.g. 3.14)
*   bool - boolean : used to store True/False values (only True and False no other values)
*   str - string : used to store a string of letters such as words and sentences(e.g. "Rainbow"). When creating (aka initializing) a string datatype you must contain the string in double quotations "

# Greetings

Create a variable called student_name and assign your name to it.

Then print a sentence like "Hello, [your name]!"

ðŸ”§ Challenge: Add another line that prints your favorite color using a new variable.

# Weather Update

Recall the if-else structure:

* we will perform statements under an if statement only if a condition is satisfied.

* If not then we move onto to check the next elif condition (if it exists) and keep doing this until a condition is satisfied.

* If no condition is satisfied then we perform the statements under else



Set a variable called temperature (e.g., 28).
If it's 30 or more, print "It's hot today!"
Otherwise, print "It's not that hot."

ðŸ”§ Challenge: Add a third condition: If it's below 15, print "It's cold today!"

# Build a calculator

Define a function called *add_numbers* that takes two numbers and returns their sum.

Call the function with 10 and 15, and print the result.

ðŸ”§ Challenge: How would you change the function if you had to find their product, remainder on dividing?

# User survey

Create a function that takes in user data- Ask for their name, age, country of residence, and their experience (on a scale of 1-5).

Write a short paragraph summarizing the user's data and experience.

# Typecasting

Weâ€™re now going to convert values from one data type to another â€” this is called **type casting**.

Examples:

* `1235272` â†’ `"1235272"` : from **integer** to **string**
* `"6.78"` â†’ `6.78` : from **string** to **float**

This helps us control how data is stored, displayed, or used in calculations.

In [ ]:
val = 5.689
address = "301"
frequency= 11

#after converting, you can check its datatype as well. Ex:
type (str(val))